<%# Middle Column Component %>
<%# 
  Expected locals from controller:
  - @hex_color: array with one color
  - @show_pikachu: boolean
  - @image_url: pikachu image URL
  - @max_pairs: maximum pairs allowed
  - flash: flash messages
  - @message: custom message
%>

<div class="middle-column" style="flex: 1; text-align: center;">
  <!-- Mobile View Results Button -->
  <button class="mobile-view-results-btn" onclick="showResultsView()">View Results</button>

  <% unless @show_pikachu %>
    <!-- Color Box Display -->
    <%= render 'color_box' %>
  <% end %>

  <% if @show_pikachu %>
    <!-- Pikachu Meme -->
    <div style="text-align: center;">
      <img src="<%= @image_url %>" alt="Surprised Pikachu" class="meme-box" />
      <small style="font-size: 6px;">
        Image from
        <a href="https://knowyourmeme.com/memes/surprised-pikachu" target="_blank" rel="noopener noreferrer">
          Know Your Meme
        </a>
      </small> 
      <p>Pikachu: I&rsquo;m surprised</p>
    </div>
  <% end %>

  <!-- Voting Buttons -->
  <%= render 'voting_buttons', hex_color: @hex_color %>

  <!-- Navigation Buttons -->
  <%= render 'navigation_buttons' %>

  <!-- Reset Buttons -->
  <%= render 'reset_buttons' %>

  <!-- Route to Color Pairs page -->
  <div style="text-align: center; margin: 15px">
    <%= link_to "Color Pairs Ranker", rank_color_pairs_path %>
  </div>

  <!-- Flash Messages -->
  <% if flash[:notice] || @message %>
    <div id="<%= flash[:notice] ? 'flash-notice' : 'custom-message' %>" class="flash-message" style="color: red;">
      <%= flash[:notice] || @message %>
    </div>
  <% end %>
</div>