<div style="display: flex; justify-content: center; align-items: center; gap: 0px;">
    <!-- Left Color Box -->
    <form method="get" action="<%= rank_color_pairs_path %>">
    <input type="hidden" name="new_left_color" value="true" />
    <button type="submit" style="border: none; background: none; padding: 0; margin: 0; cursor: pointer;">
        <div class="pair-color-box pair-color-box-left" style="background-color: <%= @color_pair[0] %>;"></div>
    </button>
    <p style="font-size: 14px;">Hex: <%= @color_pair[0] %></p>
    </form>

    <!-- Right Color Box -->
    <form method="get" action="<%= rank_color_pairs_path %>">
    <input type="hidden" name="new_right_color" value="true" />
    <button type="submit" style="border: none; background: none; padding: 0; margin: 0; cursor: pointer;">
        <div class="pair-color-box pair-color-box-right" style="background-color: <%= @color_pair[1] %>;"></div>
    </button>
    <p style="font-size: 14px;">Hex: <%= @color_pair[1] %></p>
    </form>
</div>