<!DOCTYPE html>
<html>
  <head>
    <title>ColorRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "mobile_responsive", "data-turbo-track": "reload" %>

  </head>
  <body>
    <h1 style="text-align:center">Welcome to Color Ranker. You can rank ugly colors and color pairs!</h1>
    <div style="display: flex; justify-content: center; gap: 100px; max-width: 400px; margin: 15px auto;">
      <%= link_to "Color Ranker", rank_colors_path %>
      <%= link_to "Color Pairs Ranker", rank_color_pairs_path %>
    </div>
  </body>
</html>


